body * {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
#calculator {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    max-width: 70%;
    background-color: #a15b56 ;
    padding: 10px;
    height: 200px;
}

#calculator button {
    width: 30%;
}

#result {
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: white;
    content: "";
    border: 2px solid black;
}

.input-group {
    width: 45%;
}
#calculator input {
    width: 100%;
}
