body {
    background-color: rgba(209, 209, 209, 0.6);
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
hr {
    width:95%;
    color: rgb(88, 82, 82);
    border: 1px solid ;
}
.details .minor{
    text-align: left;
    width:100px;
}
.details .major{
    text-align: right;
}