<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<servlet>
		<servlet-name>calculate</servlet-name>
		<servlet-class>simple.interest.Calculate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>calculate</servlet-name>
		<url-pattern>/calculate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>insertStudent</servlet-name>
		<servlet-class>database.student.InsertStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertStudent</servlet-name>
		<url-pattern>/insertStudent</url-pattern>
	</servlet-mapping>


    <welcome-file-list>
        <welcome-file>calculator.html</welcome-file>
    </welcome-file-list>
</web-app>
